.with-hover {
  transition: $transition;
}

.box-raised-1 {
  box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;

  &.with-hover:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }
}

.box-raised-2 {
  box-shadow: 3px 3px 7px $color-shadow, -3px -3px 7px $color-white, inset 0 0 0 transparent, inset 0 0 0 transparent;

  &.with-hover:hover {
    box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 3px 3px 7px $color-shadow, inset -3px -3px 7px $color-white;
  }
}

.box-raised-3 {
  box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;

  &.with-hover:hover {
    box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
  }
}

.box-inset-1 {
  box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 3px 3px 7px $color-shadow, inset -3px -3px 7px $color-white;

  &.with-hover:hover {
    box-shadow: 3px 3px 7px $color-shadow, -3px -3px 7px 0px $color-white, inset 0 0 0 transparent,
      inset 0 0 0 transparent;
  }
}
