/********************************************* COMMON PROPERTIES *********************************************/

.btn,
input[type="text"],
input[type="password"],
input[type="checkbox"],
input[type="radio"],
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  transition: $transition;
  color: $main-text-color;
}

/******************************************** TEXT FIELDS & BUTTONS ********************************************/

.btn,
input[type="text"],
input[type="password"],
textarea {
  font-size: 16px;
  border-radius: $text-field-radius;
  padding: $ruler;
  background-color: $color-bg;
  width: 100%;
  &::placeholder {
    color: rgba($color: $main-text-color, $alpha: 0.5);
  }
}

/************************************************* TEXT FIELDS *************************************************/

input[type="text"],
input[type="password"],
textarea {
  box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;

  &:focus {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
}

/************************************************** BUTTONS **************************************************/

.btn {
  display: block;
  box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
  text-align: center;

  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }

  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }

  i {
    margin-right: 5px;
  }

  &.btn-primary {
    background: $primary-color;
    color: #eee;
  }
}
/******************************************** BUTTONS, CHECKBOX & RADIO ******************************************/

.btn,
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

/*********************************************** CHECKBOX & RADIO ***********************************************/

input[type="radio"],
input[type="checkbox"] {
  box-shadow: 2px 2px 4px $color-shadow, -2px -2px 4px $color-white;
  max-width: $ruler * 2.5;
  max-height: $ruler * 2.5;
  min-width: $ruler * 2.5;
  min-height: $ruler * 2.5;
  background: transparent;
  margin-right: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &::before {
    transition: $transition;
    font-family: "Font Awesome 5 Free";
    font-size: $ruler * 1.5;
    font-weight: bolder;
    text-shadow: -3px -3px 5px $color-shadow, 3px 3px 5px $color-white;
    color: $color-bg;
  }

  &:checked {
    box-shadow: -3px -3px 5px $color-shadow, 3px 3px 5px $color-white;
    &::before {
      text-shadow: 3px 3px 5px $color-shadow, -3px -3px 5px $color-white;
      color: $check-radio-color;
    }
  }

  &:disabled {
    box-shadow: -3px -3px 5px $color-shadow, 3px 3px 5px $color-white;

    &::before {
      text-shadow: 3px 3px 5px $color-shadow, -3px -3px 5px $color-white;
      color: $color-bg;
    }
  }
}

/***************************************************** CHECKBOX *************************************************/

input[type="checkbox"] {
  border-radius: $ruler * 1;

  &::before,
  &:checked::before,
  &:disabled {
    content: "\f00c";
  }
}

/***************************************************** RADIO *****************************************************/

input[type="radio"] {
  border-radius: 50%;

  &::before,
  &:checked::before,
  &:disabled {
    content: "\f111";
  }
}

/***************************************************** SELECT *****************************************************/

.select-wrapper {
  position: relative;

  &::after {
    transition: $transition;
    font-family: "Font Awesome 5 Free";
    content: "\f107";

    font-size: $ruler * 3;
    font-weight: 600;
    text-shadow: 1px 1px 2px $color-shadow, -1px -1px 2px $color-white;
    color: $check-radio-color;
    position: absolute;
    right: 20px;
    top: 5%;
    z-index: 1;
  }

  select {
    position: relative;
    z-index: 2;
    font-size: 16px;
    border-radius: $text-field-radius;
    padding: $ruler;
    background: transparent;
    width: 100%;
    box-shadow: inset 0 0 0 transparent, inset 0 0 0 transparent, 2px 2px 3px $color-shadow, -2px -2px 3px $color-white;
    transition: $transition;

    &:focus {
      box-shadow: inset 2px 2px 3px $color-shadow, inset -2px -2px 3px $color-white;
    }

    option {
      background: $color-bg;
    }
  }
}
