@import url("https://fonts.googleapis.com/css?family=Rubik:300&display=swap");

@import "variables";
@import "form";
@import "box";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--color-bg);
  color: var(--main-text-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--color-bg);
}

.sul-link {
  color: var(--primary-color);
  text-decoration: none;
  position: relative;

  &:visited {
    color: var(--primary-color);
    text-decoration: none;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: 0.5s;
  }

  &:hover::before {
    width: 100%;
  }
}
